body {
   background: #1d1d1d;
   padding-top: 100px;
}
.container {
   max-width: 800px;
   margin-inline: auto;
   background-color: #1d1d1d;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   position: relative;
}
.container::before {
   content: "";
   position: absolute;
   top: 0;
   left: 11%;
   display: block;
   height: 1px;
   width: 78%;
   background-color: #fff;
}
.item {
   text-align: center;
   position: relative;
}
.item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -40%);
   display: block;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #fff;
}
